@model IEnumerable<Project_flim.Areas.Admin.Models.Framework.ListDV>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phim.Name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phim.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
