@model IEnumerable<Project_flim.Areas.Admin.Models.Framework.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p style="width: 150px; height: 40px;
    background: greenyellow;
    border: none;
    border-radius: 24px;">

    <a href="/Admin/Phims/Create" style="line-height: 40px;
     text-decoration:none;
     color: currentColor;
     text-align: center;
     margin-left: 31px;">Create New</a>

</p>

@using (Html.BeginForm("Index", "Phims", FormMethod.Get))
{
    <b style="margin-bottom: 10px; display: block;  ">
        Tìm kiếm phim : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </b>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
