@model Project_flim.Areas.Admin.Models.Framework.DanhMuc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có muốn xóa danh mục này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc2.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style=" width: 25%; float: left;">
                <input type="submit" value="Delete" class="btn btn-default" style=" width: 70px; margin: 5px; background: black; color: aliceblue;" />
            </div>
        </div>
  

        <div>
            <a href="/Admin/DanhMucs/Index" style=" display: block; background: khaki; width: 88px;
         height: 43px; text-decoration: none; border-radius: 10px; line-height: 43px;
         padding-left: 3px;float: left;margin-top: 3px;">Back To List</a>
        </div>
    }
    </div>
